@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">What would you like to do?</h1>
    <a asp-controller="Flight" asp-action="FlightSearch">Search Flights</a>
    <a asp-controller="Booking" asp-action="CustomerBooking">Check Your Bookings</a>

</div>
