@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
    <ul class="navbar-nav">
        @{
            ViewBag.Data = @HttpContextAccessor.HttpContext.Session.GetString("uname");
        }
        @if (ViewBag.Data != null)
        {
            <li class="nav-item">
                <a id="manage" class="nav-link text-dark" asp-controller="Home" asp-action="Privacy" title="Manage">Hello @ViewBag.Data!</a>
            </li>
            <li class="nav-item">
                <form id="logoutForm" class="form-inline" asp-controller="Login" asp-action="Logout" asp-route-returnUrl="@Url.Action("Login", "Login", new { area = "" })">
                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" id="register" class="button" asp-controller="Login" asp-action="CustomerLogin">Customer Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" id="login" asp-controller="Login" asp-action="AdminLogin">Admin Login</a>
            </li>
        }
    </ul>
</div>